# Ignore Brian2 Jupyter notebooks
notebooks/1-intro-to-brian-neurons.ipynb
notebooks/2-intro-to-brian-synapses.ipynb
notebooks/3-intro-to-brian-simulations.ipynb
notebooks/data-exploration.ipynb
notebooks/.ipynb_checkpoints/

# Ignore Python cache
__pycache__/
data/__pycache__/

# Ignore all of output_raw except run_0 files
data/output_raw/*
!data/output_raw/run_0_spikes.dat
!data/output_raw/run_0_voltages.dat

# Ignore preprocessed datasets due to size
/data/preprocessed/preprocesseddatasets.pt
/data/preprocessed/processed_data.pt

# Ignore trained models (large files)
/models/*.pth

# Ignore training logs
/training.log

# Ignore Brian2 test.py
/data/test.py

# Ignore OS metadata
.DS_Store
