# Ignore Brian2 Jupyter notebooks
notebooks/1-intro-to-brian-neurons.ipynb
notebooks/2-intro-to-brian-synapses.ipynb
notebooks/3-intro-to-brian-simulations.ipynb
notebooks/.ipynb_checkpoints/

# Ignore Python cache
__pycache__/
data/__pycache__/

# Ignore all of output_raw except run_0 files
data/output_raw/*
!data/output_raw/run_0_spikes.dat
!data/output_raw/run_0_voltages.dat

# Ignore preprocessed dataset due to size
/data/preprocessed/datasets.pt

# Ignore Brian2 test.py
/data/test.py

# Ignore OS metadata
.DS_Store
